<template name="hello">
    <br/>
    <br/>
    <form name="signupForm" id="signup-form" class="panel" action="#">
        <div class="ui form">
          <h4 class="ui dividing header">Personal Information</h4>
          <div class="two fields">
            <div class="field">
              <label>Name</label>
              <div class="two fields">
                <div class="field">
                  <input type="text" name="firstName" id="firstName" placeholder="First Name">
                  <span id='firstName-error'></span>
                </div>
                <div class="field">
                  <input type="text" name="lastName" id="lastName" placeholder="Last Name">
                  <span id='lastName-error'></span>
                </div>
              </div>
            </div>
            <div class="field">
              <label>Gender</label>
              <div class="ui selection dropdown">
                <input type="hidden" name="gender">
                <div class="default text">Gender</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item" data-value="male">Male</div>
                  <div class="item" data-value="female">Female</div>
                </div>
              </div>
            </div>
          </div>
          <div class="field">
            <label>Biography</label>
            <textarea name="biography" id="biography"></textarea>
            <span id='biography-error'></span>
          </div>
          <h4 class="ui dividing header">Account Info</h4>
          <div class="two fields">
            <div class="required field">
              <label>Username</label>
              <div class="ui icon input">
                <input type="text" placeholder="Username">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="required field">
              <label>Password</label>
              <div class="ui icon input">
                <input type="password">
                <i class="lock icon"></i>
              </div>
            </div>
          </div>
           <h4 class="ui block top attached header">Optional Survey</h4>
          <div class="ui bottom attached secondary segment">
            <div class="grouped fields">
              <label for="alone">Are you a human?</label>
              <div class="field">
                <div class="ui radio checkbox checked">
                  <input type="radio" checked="" name="alone">
                  <label>Yes</label>
                </div>
              </div>
              <div class="field">
                <div class="ui radio checkbox">
                  <input type="radio" name="alone">
                  <label>No</label>
                </div>
              </div>
            </div>
          </div>
           <h4 class="ui dividing header">Settings</h4>
          <h5 class="ui header">Privacy</h5>
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="radio" name="privacy">
              <label>Allow <b>anyone</b> to see my account</label>
            </div>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              <input type="radio" name="privacy">
              <label>Allow <b>only friends</b> to see my account</label>
            </div>
          </div>
          
          <div class="ui hidden divider"></div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" name="hot-deals">
              <label>I agree to the <a href="#">Terms of Service</a>.</label>
            </div>
          </div>
          <div class="ui error message">
            <div class="header">We noticed some issues</div>
          </div>
          <!-- <div class="ui submit button">Register</div> -->
            <input type="submit" value="Sign Up" id="create-account" class="ui submit button">
            <span id='password-error'></span>
        </div>
    </form>
<!--     <form name="signupForm" id="signup-form" class="panel" action="#">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" class="form-control" />
        <span id='email-error'></span>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" class="form-control" />
      </div>

      <div class="form-group">
        <input type="submit" value="Sign Up" id="create-account" class="btn btn-success pull-right">
        <span id='password-error'></span>
      </div>
    </form> -->
</template>


<template name="home">
    <div class="ui page grid">
      <div class="sixteen wide column">
        {{> hello}}
      </div>
    </div>
</template>
